    <footer class="container-fluid">
    <div class="row footer">
      <div class="col-12 col-md-4">
        <article>
          <i class="fas fa-credit-card "></i>          
          <h4>Pagá con tarjeta o en efectivo</h4>
      </article>
      </div>

      <div class="col-12 col-md-4">
        <article>
          <img src="/images/mercadopago.png" alt="">
          <h4>Aceptamos mercado pago</h4>
      </article>
      </div>

      <div class="col-12 col-md-4">
        <article>
          <i class="fas fa-motorcycle"></i>
          <h4>Realizamos envios</h4>
          <p>Los más rapidos del Noroeste</p>
      </article>
      </div>

      <div class="col-12">
        <ul>
          <li><a href=""><i class="fab fa-instagram "></i></a></li>
          <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
          <li><a href=""><i class="fas fa-envelope"></i></a></li>
          <li><a href=""><i class="fas fa-map-marker-alt"></i></a></li>
          <li><a href=""><i class="fab fa-whatsapp-square"></i></a></li>
        </ul>
      </div>

      

      <div class="col-12">
        <p class="copyright" > &copy; Agile-Food S.R.L. 2020 </p>
      </div>
    </div>

    </footer>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>