<header>
    <div class="container-fluid">
      <div class="row headersuperior">
        <div class="col-4 col-md-2">
          <a href=""><img src="/images/logo2.png" alt=""></a>
        </div>
        <div class="col-8 col-md-6">
          <form action="">
            <input type="text" placeholder="Busca el antojo que quieras cumplir hoy...">
            <button type="submit"><i class="fas fa-search "></i></button>
          </form>
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-centers">
          <a href=" " class="cuotas "><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</a>
        </div>  
      </div>
      <nav class="navbar-expand-md">
        <!--boton de hamburguesa-->
        <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        ><i class="fas fa-bars "></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="menu navbar-nav mr-auto">
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
          </ul>
          <ul class="usuario navbar-nav mr-auto">
            <li><a href=""> <a href=" ">Creá tu cuenta <i class="far fa-address-card "></i></a>
            </a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href=" ">Mis compras <i class="fas fa-shopping-basket "></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>