<header>
    <div class="container-fluid">
        <div class="row headersuperior">
            <div class="col-4 col-md-2">
                <a href="http://localhost:3001"><img src="/images/logo2.png" alt=""></a>
            </div>
            <div class="col-8 col-md-8">
                <form action="">
                    <input type="text" placeholder="Busca tu antojo...">
                    <button type="submit"><i class="fas fa-search "></i></button>
                </form>
            </div>
        </div>
        <div class="col-12">
            <div class="user">
                <ul class="user">
                    <li><a href="http://localhost:3001/carrito"><span class="badge badge-pill badge-info">0</span><i class="fas fa-shopping-basket"></i>Mi pedido</a>
                    <li><a href="http://localhost:3001/login"><i class="fas fa-user-circle"></i>Login</a></li>
                </ul>
            </div>
        </div>
        <div>
            <nav class="navbar-expand-md">
                <!--boton de hamburguesa-->
                <button class="navbar-toggler burger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="menu navbar-nav d-flex justify-content-between" style="width: 100%;">
                        <li><a href="http://localhost:3001/products">Nuestra carta</a></li>
                        <li><a href="">Promociones</a></li>
                        <li><a href="">Novedades</a></li>
                        <li><a href="">Sucursales</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>