<%-include("./partials/head.ejs")%> 
<%-include("./partials/header.ejs")%> 

<div class="container">
    <!-- Inicio caja principal-->
    <div class="row">
        <section class="col-12">
            <h3 class="text-center">Carrito</h3>
        </section>
        
    <!-- inicia caja detalles de producto -->
    <div class="cajaProducto">
        <div class="col-12 producto">
        <figure>        
            <img  class="img-fluid w-100 height: auto" src="/images/productos/img-pizza-fugazzeta.jpg" alt="">
        </figure>
        <article>
            <h4 class="text-center">Pizza Fugazzeta</h4>   
        </article>
        <h4>Cebolla salteada, muzzarella, queso gratinado, condimentos y aceitunas.</h4>
        <form class="text-center">
            <label for="">Mas Ofertas</label>
            <button onclick="">+</button>  
        </form>
        <!-- caja detalle del precio -->
        <section>
            <h5 class="text-right">Detalle del Precio</h5>
        </section>

        <!-- Seccion boton cantidad producto y precio-->
        <section class="col-12 precio">
            <form class="col-6 text-center">
                <button onclick="">+</button>
                <label for="">1</label>
                <button onclick="">-</button>
                </form>
                <h5 class="col-6 text-center">$ 280</h5>
        </section>
    </div>
        
    </div>
    <!-- finaliza caja detalles de producto -->


    <!-- inicia caja detalles de producto -->
    <div class="cajaProducto">
        <div class="col-12 producto">
        <figure>        
            <img  class="img-fluid w-100 height: auto" src="/images/productos/img-pizza-fugazzeta.jpg" alt="">
        </figure>
        <article>
            <h4 class="text-center">Pizza Fugazzeta</h4>   
        </article>
        <h4>Cebolla salteada, muzzarella, queso gratinado, condimentos y aceitunas.</h4>
        <form class="text-center">
            <label for="">Mas Ofertas</label>
            <button onclick="">+</button>  
        </form>
        <!-- caja detalle del precio -->
        <section>
            <h5 class="text-right">Detalle del Precio</h5>
        </section>
        
        <!-- Seccion boton cantidad producto y precio-->
        <section class="col-12 precio">
            <form class="col-6 text-center">
                <button onclick="">+</button>
                <label for="">1</label>
                <button onclick="">-</button>
                </form>
                <h5 class="col-6 text-center">$ 280</h5>
        </section>
    </div>
        
    </div>
    <!-- finaliza caja detalles de producto -->
    <div >
        <section class="total">
            <h4 class="col-6 text-center">Total</h4>
            <h4 class="col-6 text-centert">$560</h4>
        </section>
    </div>
    </div>
</div>
<%-include("./partials/footer.ejs") %> 