<%-include("./partials/head.ejs")%> 
<%-include("./partials/header.ejs")%> 
<!-- Inicio caja principal-->
<div class="container cajaBase">
    <div class="row">
    <section class="cajaProducto col-12">
                <img class="col-3" src="/images/productos/img-pizza-fugazzeta.jpg" alt="">
        <article class="col-3">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto, quae ipsa minus saepe ratione nihil nulla laudantium sed esse magnam?</p>
        </article>
    </section>
    </div>
</div>
<%-include("./partials/footer.ejs") %> 