<%- include("./partials/head.ejs") %> 
<%- include("./partials/header.ejs") %>
<div class=container>
    <div class = row>  
        <article class="col-12">
            <h1>producto</h1>

        </article>
    </div>

</div> 
<%- include("./partials/footer.ejs") %> 