<%- include("./partials/head.ejs") %>
    <%- include("./partials/header.ejs") %>
        <div class="contenedor">
            <form>
                <div>
                    <label for="">Producto</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Precio</label>
                    <input type="number">
                </div>
                <div>
                    <label for="">Categoria</label>
                    <select>
                        <option>empanadas</option>
                        <option>hamburgesa</option>
                        <option>pizza</option>
                        <option>pastas</option>
                    </select>
                </div>
                <div>
                    <label for="">Cantidad</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">Detalle del producto</label>
                    <input type="text">
                </div>
                <div>
                    <label for="">subir imagen</label>
                    <input type="text">
                </div>

            </form>
        </div>
        <%- include("./partials/footer.ejs") %>