<%- include("./partials/head.ejs") %> 
<%- include("./partials/header.ejs") %>
<div class="container">
    <div class="row productos">
        <div class="note col-12 col-md-6 caja2">
            <figure class="col-6">
                <img src="/images/productos/img-hamburguesa-simple.jpg" alt="">
            </figure>
            <article class="col-6">
                <H2>categoria</H2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam adipisci nulla quae facere, facilis modi reprehenderit fugit totam culpa amet nesciunt nihil natus ut numquam? Exercitationem cumque veritatis nobis est.</p>
                <h3>Precio</h3>
            </article>
        </div>
    </div>
</div> 
<%- include("./partials/footer.ejs") %> 