@import "general.css";
@import "header.css";
@import "footer.css";

.cajaProducto{
    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.producto{
    display: block;
}
.precio{
    display: flex;
    flex-wrap: wrap;
}
p{
    font-size: 10px;
}
.boton{
    background-color: white;
}
.total{
    display: flex;
    flex-wrap: wrap;
}
