/* 
- IMPORTS 
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
- VARIABLES
*/

:root {
    --color-amarillo: #EAC926;
    --color-grisClaro: #ebebeb;
    --color-grisOscuro: #666666;
    --color-azul: #03264C;
    --color-verde: #39b54a;
    --color-celeste: #1259c3;
}


/*
- GENERAL
*/

* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: var(--color-grisClaro);
}


/*
- CABECERA
*/

header {
    background-color: var(--color-amarillo);
    padding: 20px
}

header .logo {
    padding: 0px;
    height: 34px;
}

header form {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    /*background-color: white;
    border: 1px solid var(--color-grisClaro);
    border-radius: 5px;
    padding: 0px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*/
}

header form input {
    border: solid 1px var(--color-grisClaro);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    font-family: inherit;
    /*background: none;
    border: 0;
    width: 85%;
    margin: 5px 0px;
    padding-right: 5px;
    border-right: 2px solid var(--color-grisClaro);*/
}

header form input:focus,
form button:focus {
    outline: none;
}

header form button {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: white;
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    color: var(--color-grisOscuro);
    cursor: pointer;
    /*background: none;
    border: 0;
    border: var(--color-grisOscuro);
    color: var(--color-grisOscuro);
    padding: 0;
    padding-left: 5px;*/
}

header .cuotas {
    margin: 20px 0;
    align-self: center;
}


/*
OPCION PARA COLOCAR EL ICONO DESDE EL CSS DENTRO DE UN ELEMENTO (NO FUNCIONA CON TODOS LOS ICONOS)

header a.cuotas::before {
    content: '\f09d';
    font-family: "Font Awesome\ 5 free";
    margin-right: 5px;
}
*/

header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav button.burger {
    background-color: var(--color-azul);
    border: none;
    border-radius: 4px;
    padding: 3px 15px;
}


/* cambio el aspecto cuando el boton tiene el foco*/

header nav button.burger:focus {
    outline: 1px solid white;
}

header nav button.burger i {
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}


/*
 - BANNER
*/

.banner img {
    width: 100%;
    display: none;
}

/*
- PRODUCTOS
*/

.productos {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.titulo h1 {
    text-align: left;
    font-size: 24px;
    color: var(--color-grisOscuro);
    padding-top: 10px;
}

.contenido {
    background-color: black;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 2  px;
    text-align: center;
    color: white;
}


.contenido figure img {
    width: 90%;
    margin-top: 30px;
}

article {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    text-align: left;
}

article h3{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0px;
    padding-left: 0px;
}

article .botones{
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
}

article button{
    color:white;
    background-color:var(--color-amarillo);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}



/*
FOOTER
*/

.footer {
    padding: 20px;
    background-color: white;
}

.footer article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.footer article i {
    font-size: 35px;
    color: var(--color-celeste);
    display: flex;
    margin: 10px 0;
}

.footer article h4,
.footer article p {
    color: var(--color-grisOscuro);
    display: flex;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid var(--color-grisClaro);
    border-bottom: 1px solid var(--color-grisClaro);
    color: var(--color-grisOscuro);
}


/* --- VERSION PARA TABLET --- */

@media(min-width:768px) {
    /*header form input {
        width: 92%;
    }*/
    header .cuotas {
        margin: 0;
        text-align: right;
    }
    header ul li {
        justify-content: space-between;
        padding-right: 12px;
    }
    header ul.usuario li:last-child {
        padding-right: 0;
    }

    article h3{
        font-size: 1.5rem;
    }

    article h1{
        font-size: 2.8rem;
    }
   
}


/* --- VERSION PARA ESCRITORIO --- */

@media(min-width:1024px) {
    section article h2 {
        font-size: 1.9rem;
    }
    footer article {
        border: none;
    }
    footer article h4 {
        font-size: 1.3rem;
    }
    footer article p {
        font-size: 0.9rem;
    }
    footer .copyright {
        font-size: 0.7rem;
        text-align: left;
        border-top: 1px solid var(--color-grisClaro);
        border-bottom: none;
    }

    .contenido{
        display: flex;
        flex-wrap: wrap;
    }

    article{
        border-left: 1px solid var(--color-grisClaro);
        margin-top: 20px;
    }

    article h3{
        font-size: 2rem;
    }

    article h1{
        font-size: 3rem;
    }

    article button{
        margin-top: 0px;
        padding: 20;    
        margin-bottom: 250px;
    }
    
}