.footer{
padding: 10px;
background-color: var(--color-amarillo);
}

.footer article{
display: flex;
flex-wrap: wrap;
align-items: center;
flex-direction: column;
text-align: center;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer article i{
font-size: 60px;
color: var(--color-rojo);
margin: 10px 0;
}

.footer article h4{
color: var(--color-grisClaro);
margin: 20px 0;
}

.footer article p{
color: var(--color-grisClaro);
margin: 20px 0;
}

.footer img {
    width: 50%;
    }

.footer ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer li{
    text-decoration: none;
    list-style: none;
    margin: 0 8px;
}

.footer a{
    color: var(--color-rojo);
}

.copyright{
border-top: 1px solid var(--color-gris);
padding: 10px 0;
text-align: center;
}

.fin{
    text-align: center;
    margin: 5px 0;
    padding: 0;
    font-size: 10px;
}

.fin ul{
    text-align: center;
    list-style: none;
}

@media(min-width:768px) {
    
    footer .seccion{
        border-left: 1px solid var(--color-gris);
    }

    footer .seccion:first-child{
        border-left: none;
    }

footer article {
    border:none
}
footer article h4 {
    font-size: 1.3rem;
}
footer article p {
    font-size: 0.9rem;
}
footer .copyright {
    font-size: 1rem;
    text-align: right;
    border-top: 1px solid var(--color-gris);
    border-bottom: none;
}

.fin{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-top: 1px solid var(--color-gris);
    margin: 5px 0;
    padding: 0;
    font-size: 10px;
}

}
