/*
imports*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/*
variasbles
*/
:root{
--color-amarillo:#FBD104;
--color-negro:#000000;
--color-naranja:#F45200;
--color-violeta:#8D3276;
--color-verde:#32F1C7;
--color-celeste:#0575B1;
--color-blanco:#FFFFFF;
--color-rojo:#EF3838;
--color-gris:#C9C7A9;
}

/*
General
*/

*{
box-sizing: border-box;
margin: 0;
}

body{
font-family: Open Sans, Open type, Helvetica;
font-weight: 300;
background-color: var(--color-negro);
}