/*
Header
*/

header {
    background-color: var(--color-amarillo);
    padding: 10px 0px;
    text-align: center;
}

.headersuperior {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

}

header img {
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}

header form {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
}

header form input {
    border: solid 1px var(--color-grisClaro);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1.5em;
    font-family: inherit;
}

header form input:focus,
form button:focus {
    outline: none;
}

header form button {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: white;
    border: none;
    border-left: solid 1px var(--color-grisClaro);
    color: var(--color-grisOscuro);
    cursor: pointer;
}


header nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav button.burger {
    background-color: var(--color-azul);
    color: white;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

header ul li {
    list-style: none;
}

header nav ul li {
    padding: 0 20px;
}

header ul li a {
    color: black;
    text-decoration: none;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.user ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: end;
}

.user li {
    margin-left: 15px;


}

@media(min-width:768px) {
    /*header form input {
        width: 92%;
    }*/

    header ul li {
        justify-content: space-between;
        padding-right: 12px;
    }

    header ul.usuario li:last-child {
        padding-right: 0;
    }
}


@media(min-width:1024px) {
    header nav ul li {
        padding: 0 2.5rem;
    }

}

@media(min-width:1440px) {
    header nav ul li {
        padding: 0 2.5rem;
    }

}