<footer class="container-fluid">
    <div class="row footer">
        <div class="col-12 col-md-4 seccion">
            <article>
                <i class="fas fa-credit-card fa-5x"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
            </article>
        </div>

        <div class="col-12 col-md-4 seccion">
            <article>
                <img src="/images/mercadopago.png" alt="">
                <h4>Aceptamos mercado pago</h4>
            </article>
        </div>

        <div class="col-12 col-md-4 seccion">
            <article>
                <i class="fas fa-motorcycle fa-3x"></i>
                <h4>Realizamos envios</h4>
            </article>
        </div>

        <div class="col-12 fin">
            <ul class="col-12 col-md-6">
                <li><a href=""><i class="fab fa-instagram fa-2x"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square fa-2x"></i></a></li>
                <li><a href=""><i class="fab fa-facebook fa-2x"></i></a></li>
                <li><a href=""><i class="fas fa-envelope fa-2x"></i></a></li>
                <li><a href=""><i class="fas fa-map-marker-alt fa-2x"></i></a></li>
                <li><a href=""><i class="fab fa-whatsapp-square fa-2x"></i></a></li>
            </ul>
            <p class="copyright col-12 col-md-6"> &copy; Agile-Food S.R.L. 2020 </p>
        </div>
    </div>

</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="js/sweetAlert2.js"></script>

</body>

</html>