<header>

    <div class="container-fluid">
        <div class="row headersuperior">
            <div class="col-4 col-md-2">
                <a href="http://localhost:3001"><img src="/images/logo2.png" alt=""></a>
            </div>
            <div class="col-8 col-md-6">
                <form action="/search" method="get">
                    <input type="text" placeholder="Busca tu antojo..." name="search">
                    <button type="submit"><i class="fas fa-search text-success"></i></button>
                </form>
            </div>
            <% if(usuario != undefined) {%>
            <div class="col-12 col-md-4 col-lg-4 d-flex justify-content-end align-items-center cuotas">
                <a href="http://localhost:3001/users/Administrador">
                    <h5 class="mr-2">
                        <%=usuario.nick%>
                    </h5>
                </a>
                <a href=""><img src="/images/users/<%= usuario.avatar %> " alt="avatar" width="50px" height="50px"
                        class="avatar"></a>
                <% } %>
            </div>
        </div>
        <div class="col-12">
            <div class="user">
                <ul>
                    <li><a href="http://localhost:3001/products/cart"><span
                                class="badge badge-pill badge-info">0</span><i
                                class="fas fa-shopping-basket"></i>Mipedido</a></li>
                    <% if (usuario == undefined){ %>
                    <li><a href="http://localhost:3001/users"><i class="fas fa-user-circle"></i>Login</a></li>
                    <% } else { %>
                    <ul>
                        <li class="col-6">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user-alt "></i> Mi cuenta
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="http://localhost:3001/users/datosUsuarios"><i
                                        class="fas fa-user-circle"></i>Mi perfil</a>
                                <a class="dropdown-item" href="http://localhost:3001/users/logout"><i
                                        class="fas fa-sign-out-alt"></i>Cerrar Sesion</a>
                            </div>
                        </li>
                    </ul>
                    <% } %>
                </ul>
            </div>
        </div>
        <div>
            <nav class="navbar-expand-md">
                <!--boton de hamburguesa-->
                <button class="navbar-toggler burger" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="menu navbar-nav d-flex justify-content-between" style="width: 100%;">
                        <li><a href="http://localhost:3001/products">Nuestra carta</a></li>
                        <li><a href="">Promociones</a></li>
                        <li><a href="">Novedades</a></li>
                        <li><a href="">Sucursales</a></li>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>