<%- include("./partials/head.ejs") %>
<%- include("./partials/header.ejs") %>
<div class="container">
    <div class="row login">
        <div class="col-12">
            <img src="/images/login.png" alt="">
        </div>
        <form action="">
            <div class="form-group">
                <label for="">Usuario</label>
                <input type="text" class="form-control" id="" placeholder="Ingrese su usuario " name="user">
            </div>
            <div class="form-group">
                <label for="">Contraseña</label>
                <input type="password" class="form-control" id="" placeholder="Ingrese Contraseña" name="password">
            </div>
            <button class="col-12">Login</button>
            <div>
                <a class="col-12" href="http://localhost:3001/users/registrarme">Registrarme</a>
                <a class="col-12" href="http://localhost:3001/users/login">Olvido su contraseña?</a>
            </div>
        </form>
    </div>
</div>

<%- include("./partials/footer.ejs") %>